In [1]:
cd C:\2017\Work\Python\Kaggle\RRVF

C:\2017\Work\Python\Kaggle\RRVF

In [22]:
import pandas as pd
from datetime import datetime
air_vis_data = pd.read_csv('air_visit_data.csv')
air_vis_data['visit_date'] = pd.to_datetime(air_vis_data['visit_date'])
air_vis_data["visit_date_only"]= [i.date() for i in air_vis_data["visit_date"]]
air_vis_data.head()

           air_store_id visit_date  visitors visit_date_only
0  air_ba937bf13d40fb24 2016-01-13        25      2016-01-13
1  air_ba937bf13d40fb24 2016-01-14        32      2016-01-14
2  air_ba937bf13d40fb24 2016-01-15        29      2016-01-15
3  air_ba937bf13d40fb24 2016-01-16        22      2016-01-16
4  air_ba937bf13d40fb24 2016-01-18         6      2016-01-18

In [9]:
air_res_data = pd.read_csv('air_reserve.csv')
from datetime import datetime
air_res_data['visit_datetime'] = pd.to_datetime(air_res_data['visit_datetime'])
air_res_data['reserve_datetime'] = pd.to_datetime(air_res_data['reserve_datetime'])
air_res_data["visit_date_only"]= [i.date() for i in air_res_data["visit_datetime"]]

In [28]:
test_data = pd.read_csv('sample_submission.csv')
test_data.info()
test_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32019 entries, 0 to 32018
Data columns (total 2 columns):
id          32019 non-null object
visitors    32019 non-null int64
dtypes: int64(1), object(1)
memory usage: 500.4+ KB

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [26]:
test_data['date'] = test_data['id'].apply(dates_reform)
test_data['id'] = test_data['id'].apply(only_id)

In [29]:
from pandas import Series
import datetime
def dates_reform(date):
    date = str(date)
    p = date[21:25]
    q = date[26:28]
    r = date[29:31]
    dates = datetime.datetime(year = int(p), month = int(q), day =int(r))
    return dates
    return row.name

In [30]:
def only_id(id1):
    id1 = str(id1)
    p = id1[0:20]
    return p

Joining air visit data and air reserve data - train2

In [4]:
train = air_vis_data.merge(air_res_data, on=['air_store_id', 'visit_date_only'],  how='left')

In [5]:
train_air_res = train.drop_duplicates(keep="first", subset = ['air_store_id', 'visit_date_only'])
train_air_res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252108 entries, 0 to 311224
Data columns (total 7 columns):
air_store_id        252108 non-null object
visit_date          252108 non-null datetime64[ns]
visitors            252108 non-null int64
visit_date_only     252108 non-null object
visit_datetime      28064 non-null datetime64[ns]
reserve_datetime    28064 non-null datetime64[ns]
reserve_visitors    28064 non-null float64
dtypes: datetime64[ns](3), float64(1), int64(1), object(2)
memory usage: 15.4+ MB

Joining train2 data with air store info

In [6]:
air_str_data = pd.read_csv('air_store_info.csv')
air_str_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 5 columns):
air_store_id      829 non-null object
air_genre_name    829 non-null object
air_area_name     829 non-null object
latitude          829 non-null float64
longitude         829 non-null float64
dtypes: float64(2), object(3)
memory usage: 32.5+ KB

In [7]:
train2 = train_air_res.merge(air_str_data, on=['air_store_id'],  how='left')
train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252108 entries, 0 to 252107
Data columns (total 11 columns):
air_store_id        252108 non-null object
visit_date          252108 non-null datetime64[ns]
visitors            252108 non-null int64
visit_date_only     252108 non-null object
visit_datetime      28064 non-null datetime64[ns]
reserve_datetime    28064 non-null datetime64[ns]
reserve_visitors    28064 non-null float64
air_genre_name      252108 non-null object
air_area_name       252108 non-null object
latitude            252108 non-null float64
longitude           252108 non-null float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(4)
memory usage: 23.1+ MB

Joining hpg reserve data to hpg store data

In [8]:
hpg_res_data= pd.read_csv('hpg_reserve.csv')
#hpg_res_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000320 entries, 0 to 2000319
Data columns (total 4 columns):
hpg_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors    int64
dtypes: int64(1), object(3)
memory usage: 61.0+ MB

In [9]:
hpg_str_data = pd.read_csv('hpg_store_info.csv')
hpg_str_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4690 entries, 0 to 4689
Data columns (total 5 columns):
hpg_store_id      4690 non-null object
hpg_genre_name    4690 non-null object
hpg_area_name     4690 non-null object
latitude          4690 non-null float64
longitude         4690 non-null float64
dtypes: float64(2), object(3)
memory usage: 183.3+ KB

In [11]:
train_hpg = hpg_res_data.merge(hpg_str_data,on=['hpg_store_id'],  how='left')
train_hpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000320 entries, 0 to 2000319
Data columns (total 8 columns):
hpg_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors    int64
hpg_genre_name      object
hpg_area_name       object
latitude            float64
longitude           float64
dtypes: float64(2), int64(1), object(5)
memory usage: 137.4+ MB

Joining store id and hpg store_reserve data

In [14]:
store_relatn = pd.read_csv('store_id_relation.csv')
store_relatn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
air_store_id    150 non-null object
hpg_store_id    150 non-null object
dtypes: object(2)
memory usage: 2.4+ KB

In [16]:
train3 = train_hpg.merge(store_relatn, on = ['hpg_store_id'], how = 'left')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000320 entries, 0 to 2000319
Data columns (total 9 columns):
hpg_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors    int64
hpg_genre_name      object
hpg_area_name       object
latitude            float64
longitude           float64
air_store_id        object
dtypes: float64(2), int64(1), object(6)
memory usage: 152.6+ MB

Joining train 2 (air visit, reseeve and store) and train 3 (hpg reserve, store, and connection air-hpg id)

In [29]:
train3.columns = ['hpg_store_id', 'hpg_visit_datetime', 'hpg_reserve_datetime',
       'hpg_reserve_visitors', 'hpg_genre_name', 'hpg_area_name', 'hpg_latitude',
       'hpg_longitude', 'air_store_id']

In [31]:
train3['hpg_reserve_datetime'] = pd.to_datetime(train3['hpg_reserve_datetime'])
train3["visit_date_only"]= [i.date() for i in train3['hpg_reserve_datetime']]

In [32]:
train3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000320 entries, 0 to 2000319
Data columns (total 10 columns):
hpg_store_id            object
hpg_visit_datetime      object
hpg_reserve_datetime    datetime64[ns]
hpg_reserve_visitors    int64
hpg_genre_name          object
hpg_area_name           object
hpg_latitude            float64
hpg_longitude           float64
air_store_id            object
visit_date_only         object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 167.9+ MB

In [35]:
train4 = train2.merge(train3, on=['air_store_id', 'visit_date_only'],  how='left')

In [36]:
train_air_hpg = train4.drop_duplicates(keep="first", subset = ['air_store_id', 'visit_date_only'])

In [37]:
train_air_hpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252108 entries, 0 to 258091
Data columns (total 19 columns):
air_store_id            252108 non-null object
visit_date              252108 non-null datetime64[ns]
visitors                252108 non-null int64
visit_date_only         252108 non-null object
visit_datetime          28064 non-null datetime64[ns]
reserve_datetime        28064 non-null datetime64[ns]
reserve_visitors        28064 non-null float64
air_genre_name          252108 non-null object
air_area_name           252108 non-null object
latitude                252108 non-null float64
longitude               252108 non-null float64
hpg_store_id            13929 non-null object
hpg_visit_datetime      13929 non-null object
hpg_reserve_datetime    13929 non-null datetime64[ns]
hpg_reserve_visitors    13929 non-null float64
hpg_genre_name          6894 non-null object
hpg_area_name           6894 non-null object
hpg_latitude            6894 non-null float64
hpg_longitude           6894 non-null float64
dtypes: datetime64[ns](4), float64(6), int64(1), object(8)
memory usage: 38.5+ MB

In [ ]:
train_air_hpg

In [51]:
test_data = pd.read_csv('sample_submission.csv')
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32019 entries, 0 to 32018
Data columns (total 2 columns):
id          32019 non-null object
visitors    32019 non-null int64
dtypes: int64(1), object(1)
memory usage: 500.4+ KB

In [58]:
train_air_hpg.to_csv('train_air_hpg.csv')