In [1]:
cd C:\2017\Work\Python\Kaggle\RRVF

C:\2017\Work\Python\Kaggle\RRVF

In [3]:
import pandas as pd
from datetime import datetime
air_vis_data = pd.read_csv('air_visit_data.csv')
air_vis_data['visit_date'] = pd.to_datetime(air_vis_data['visit_date'])
air_vis_data["visit_date_only"]= [i.date() for i in air_vis_data["visit_date"]]
air_vis_data.head()

           air_store_id visit_date  visitors visit_date_only
0  air_ba937bf13d40fb24 2016-01-13        25      2016-01-13
1  air_ba937bf13d40fb24 2016-01-14        32      2016-01-14
2  air_ba937bf13d40fb24 2016-01-15        29      2016-01-15
3  air_ba937bf13d40fb24 2016-01-16        22      2016-01-16
4  air_ba937bf13d40fb24 2016-01-18         6      2016-01-18

In [16]:
air_res_data = pd.read_csv('air_reserve.csv')
from datetime import datetime
air_res_data['visit_datetime'] = pd.to_datetime(air_res_data['visit_datetime'])
air_res_data['reserve_datetime'] = pd.to_datetime(air_res_data['reserve_datetime'])
air_res_data["visit_date"]= [i.date() for i in air_res_data["visit_datetime"]]

In [49]:
air_res_data.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date_only
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1,2016-01-01
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3,2016-01-01
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6,2016-01-01
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2,2016-01-01
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5,2016-01-01

In [11]:
test_data = pd.read_csv('sample_submission.csv')
test_data.info()
test_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32019 entries, 0 to 32018
Data columns (total 2 columns):
id          32019 non-null object
visitors    32019 non-null int64
dtypes: int64(1), object(1)
memory usage: 500.4+ KB

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [18]:
from pandas import Series
import datetime
def dates_reform(date):
    date = str(date)
    p = date[21:25]
    q = date[26:28]
    r = date[29:31]
    dates = datetime.datetime(year = int(p), month = int(q), day =int(r))
    return dates
    return row.name

In [19]:
def only_id(id1):
    id1 = str(id1)
    p = id1[0:20]
    return p

In [20]:
test_data['visit_date'] = test_data['id'].apply(dates_reform)
test_data['air_store_id'] = test_data['id'].apply(only_id)

In [21]:
test_air = test_data.merge(air_vis_data, on = ['air_store_id', 'visit_date'], how='left')
test_air.info()
test_air.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32019 entries, 0 to 32018
Data columns (total 6 columns):
id                 32019 non-null object
visitors_x         32019 non-null int64
visit_date         32019 non-null datetime64[ns]
air_store_id       32019 non-null object
visitors_y         0 non-null float64
visit_date_only    0 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 1.7+ MB

,id,visitors_x,visit_date,air_store_id,visitors_y,visit_date_only
32014,air_fff68b929994bfbd_2017-05-27,0,2017-05-27,air_fff68b929994bfbd,NaN,NaN
32015,air_fff68b929994bfbd_2017-05-28,0,2017-05-28,air_fff68b929994bfbd,NaN,NaN
32016,air_fff68b929994bfbd_2017-05-29,0,2017-05-29,air_fff68b929994bfbd,NaN,NaN
32017,air_fff68b929994bfbd_2017-05-30,0,2017-05-30,air_fff68b929994bfbd,NaN,NaN
32018,air_fff68b929994bfbd_2017-05-31,0,2017-05-31,air_fff68b929994bfbd,NaN,NaN

In [55]:
test_data.head()

                                id  visitors visit_date          air_store_id
0  air_00a91d42b08b08d9_2017-04-23         0 2017-04-23  air_00a91d42b08b08d9
1  air_00a91d42b08b08d9_2017-04-24         0 2017-04-24  air_00a91d42b08b08d9
2  air_00a91d42b08b08d9_2017-04-25         0 2017-04-25  air_00a91d42b08b08d9
3  air_00a91d42b08b08d9_2017-04-26         0 2017-04-26  air_00a91d42b08b08d9
4  air_00a91d42b08b08d9_2017-04-27         0 2017-04-27  air_00a91d42b08b08d9

Joining air visit data and air reserve data - train2

In [58]:
train = air_vis_data.merge(air_res_data, on=['air_store_id', 'visit_date_only'],  how='left')

In [5]:
train_air_res = train.drop_duplicates(keep="first", subset = ['air_store_id', 'visit_date_only'])
train_air_res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252108 entries, 0 to 311224
Data columns (total 7 columns):
air_store_id        252108 non-null object
visit_date          252108 non-null datetime64[ns]
visitors            252108 non-null int64
visit_date_only     252108 non-null object
visit_datetime      28064 non-null datetime64[ns]
reserve_datetime    28064 non-null datetime64[ns]
reserve_visitors    28064 non-null float64
dtypes: datetime64[ns](3), float64(1), int64(1), object(2)
memory usage: 15.4+ MB

Joining reserve data with test_data

In [22]:
test_res = test_data.merge(air_res_data, on=['air_store_id', 'visit_date'],  how='left')
test_res.info()
test_res.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32019 entries, 0 to 32018
Data columns (total 7 columns):
id                  32019 non-null object
visitors            32019 non-null int64
visit_date          32019 non-null object
air_store_id        32019 non-null object
visit_datetime      0 non-null datetime64[ns]
reserve_datetime    0 non-null datetime64[ns]
reserve_visitors    0 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 2.0+ MB

,id,visitors,visit_date,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23 00:00:00,air_00a91d42b08b08d9,NaT,NaT,NaN
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24 00:00:00,air_00a91d42b08b08d9,NaT,NaT,NaN
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25 00:00:00,air_00a91d42b08b08d9,NaT,NaT,NaN
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26 00:00:00,air_00a91d42b08b08d9,NaT,NaT,NaN
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27 00:00:00,air_00a91d42b08b08d9,NaT,NaT,NaN

Joining train2 data with air store info

In [24]:
air_str_data = pd.read_csv('air_store_info.csv')
air_str_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 5 columns):
air_store_id      829 non-null object
air_genre_name    829 non-null object
air_area_name     829 non-null object
latitude          829 non-null float64
longitude         829 non-null float64
dtypes: float64(2), object(3)
memory usage: 32.5+ KB

In [7]:
train2 = train_air_res.merge(air_str_data, on=['air_store_id'],  how='left')
train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252108 entries, 0 to 252107
Data columns (total 11 columns):
air_store_id        252108 non-null object
visit_date          252108 non-null datetime64[ns]
visitors            252108 non-null int64
visit_date_only     252108 non-null object
visit_datetime      28064 non-null datetime64[ns]
reserve_datetime    28064 non-null datetime64[ns]
reserve_visitors    28064 non-null float64
air_genre_name      252108 non-null object
air_area_name       252108 non-null object
latitude            252108 non-null float64
longitude           252108 non-null float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(4)
memory usage: 23.1+ MB

Joining air store data with test data

In [31]:
test_str = test_data.merge(air_str_data, on=['air_store_id'],  how='left')
test_str.info()
test_str.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32019 entries, 0 to 32018
Data columns (total 8 columns):
id                32019 non-null object
visitors          32019 non-null int64
visit_date        32019 non-null datetime64[ns]
air_store_id      32019 non-null object
air_genre_name    32019 non-null object
air_area_name     32019 non-null object
latitude          32019 non-null float64
longitude         32019 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 2.2+ MB

,id,visitors,visit_date,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595

Joining hpg reserve data to hpg store data

In [72]:
hpg_res_data= pd.read_csv('hpg_reserve.csv')
hpg_res_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000320 entries, 0 to 2000319
Data columns (total 4 columns):
hpg_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors    int64
dtypes: int64(1), object(3)
memory usage: 61.0+ MB

In [73]:
hpg_str_data = pd.read_csv('hpg_store_info.csv')
hpg_str_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4690 entries, 0 to 4689
Data columns (total 5 columns):
hpg_store_id      4690 non-null object
hpg_genre_name    4690 non-null object
hpg_area_name     4690 non-null object
latitude          4690 non-null float64
longitude         4690 non-null float64
dtypes: float64(2), object(3)
memory usage: 183.3+ KB

In [74]:
train_hpg = hpg_res_data.merge(hpg_str_data,on=['hpg_store_id'],  how='left')
train_hpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000320 entries, 0 to 2000319
Data columns (total 8 columns):
hpg_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors    int64
hpg_genre_name      object
hpg_area_name       object
latitude            float64
longitude           float64
dtypes: float64(2), int64(1), object(5)
memory usage: 137.4+ MB

Joining store id and hpg store_reserve data

In [75]:
store_relatn = pd.read_csv('store_id_relation.csv')
store_relatn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
air_store_id    150 non-null object
hpg_store_id    150 non-null object
dtypes: object(2)
memory usage: 2.4+ KB

In [83]:
train3 = train_hpg.merge(store_relatn, on = ['hpg_store_id'], how = 'left')
train3.tail()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,hpg_genre_name,hpg_area_name,latitude,longitude,air_store_id
2000315,hpg_2b293477ea4642fb,2017-05-31 20:00:00,2017-04-19 07:00:00,2,NaN,NaN,NaN,NaN,NaN
2000316,hpg_f922aeca48ca5a29,2017-05-31 20:00:00,2017-03-19 00:00:00,3,NaN,NaN,NaN,NaN,NaN
2000317,hpg_e9151de687b93aa3,2017-05-31 21:00:00,2017-04-14 20:00:00,49,NaN,NaN,NaN,NaN,NaN
2000318,hpg_fae6c96189b4a122,2017-05-31 21:00:00,2017-04-19 17:00:00,9,Japanese food in general,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,NaN
2000319,hpg_0b70de808b55ad1e,2017-05-31 23:00:00,2017-04-21 13:00:00,6,Japanese style,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,NaN

Joining train 2 (air visit, reseeve and store) and train 3 (hpg reserve, store, and connection air-hpg id)

In [84]:
train3.columns = ['hpg_store_id', 'hpg_visit_datetime', 'hpg_reserve_datetime',
       'hpg_reserve_visitors', 'hpg_genre_name', 'hpg_area_name', 'hpg_latitude',
       'hpg_longitude', 'air_store_id']

In [89]:
train3['hpg_visit_datetime'] = pd.to_datetime(train3['hpg_visit_datetime'])
train3["visit_date"]= [i.date() for i in train3['hpg_visit_datetime']]

In [90]:
train3.info()
train3.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000320 entries, 0 to 2000319
Data columns (total 10 columns):
hpg_store_id            object
hpg_visit_datetime      datetime64[ns]
hpg_reserve_datetime    datetime64[ns]
hpg_reserve_visitors    int64
hpg_genre_name          object
hpg_area_name           object
hpg_latitude            float64
hpg_longitude           float64
air_store_id            object
visit_date              object
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 167.9+ MB

,hpg_store_id,hpg_visit_datetime,hpg_reserve_datetime,hpg_reserve_visitors,hpg_genre_name,hpg_area_name,hpg_latitude,hpg_longitude,air_store_id,visit_date
2000315,hpg_2b293477ea4642fb,2017-05-31 20:00:00,2017-04-19 07:00:00,2,NaN,NaN,NaN,NaN,NaN,2017-05-31
2000316,hpg_f922aeca48ca5a29,2017-05-31 20:00:00,2017-03-19 00:00:00,3,NaN,NaN,NaN,NaN,NaN,2017-05-31
2000317,hpg_e9151de687b93aa3,2017-05-31 21:00:00,2017-04-14 20:00:00,49,NaN,NaN,NaN,NaN,NaN,2017-05-31
2000318,hpg_fae6c96189b4a122,2017-05-31 21:00:00,2017-04-19 17:00:00,9,Japanese food in general,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,NaN,2017-05-31
2000319,hpg_0b70de808b55ad1e,2017-05-31 23:00:00,2017-04-21 13:00:00,6,Japanese style,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,NaN,2017-05-31

In [ ]:
joining test data and hpg data with air_store id and visit date only

In [91]:
test_str_hpg = test_str.merge(train3, on=['air_store_id', 'visit_date'], how='left')
test_str_hpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32019 entries, 0 to 32018
Data columns (total 16 columns):
id                      32019 non-null object
visitors                32019 non-null int64
visit_date              32019 non-null object
air_store_id            32019 non-null object
air_genre_name          32019 non-null object
air_area_name           32019 non-null object
latitude                32019 non-null float64
longitude               32019 non-null float64
hpg_store_id            0 non-null object
hpg_visit_datetime      0 non-null datetime64[ns]
hpg_reserve_datetime    0 non-null datetime64[ns]
hpg_reserve_visitors    0 non-null float64
hpg_genre_name          0 non-null object
hpg_area_name           0 non-null object
hpg_latitude            0 non-null float64
hpg_longitude           0 non-null float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(8)
memory usage: 4.2+ MB

In [35]:
train4 = train2.merge(train3, on=['air_store_id', 'visit_date_only'],  how='left')

In [36]:
train_air_hpg = train4.drop_duplicates(keep="first", subset = ['air_store_id', 'visit_date_only'])

In [37]:
train_air_hpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252108 entries, 0 to 258091
Data columns (total 19 columns):
air_store_id            252108 non-null object
visit_date              252108 non-null datetime64[ns]
visitors                252108 non-null int64
visit_date_only         252108 non-null object
visit_datetime          28064 non-null datetime64[ns]
reserve_datetime        28064 non-null datetime64[ns]
reserve_visitors        28064 non-null float64
air_genre_name          252108 non-null object
air_area_name           252108 non-null object
latitude                252108 non-null float64
longitude               252108 non-null float64
hpg_store_id            13929 non-null object
hpg_visit_datetime      13929 non-null object
hpg_reserve_datetime    13929 non-null datetime64[ns]
hpg_reserve_visitors    13929 non-null float64
hpg_genre_name          6894 non-null object
hpg_area_name           6894 non-null object
hpg_latitude            6894 non-null float64
hpg_longitude           6894 non-null float64
dtypes: datetime64[ns](4), float64(6), int64(1), object(8)
memory usage: 38.5+ MB

In [ ]:
train_air_hpg

In [51]:
test_data = pd.read_csv('sample_submission.csv')
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32019 entries, 0 to 32018
Data columns (total 2 columns):
id          32019 non-null object
visitors    32019 non-null int64
dtypes: int64(1), object(1)
memory usage: 500.4+ KB

In [58]:
train_air_hpg.to_csv('train_air_hpg.csv')

In [7]:
train_air_hpg = pd.read_csv('train_air_hpg.csv')
train_air_hpg.info()
train_air_hpg.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252108 entries, 0 to 252107
Data columns (total 21 columns):
Unnamed: 0              252108 non-null int64
air_store_id            252108 non-null object
visit_date              252108 non-null object
visitors                252108 non-null int64
visit_date_only         252108 non-null object
visit_datetime          28064 non-null object
reserve_datetime        28064 non-null object
reserve_visitors        28064 non-null float64
air_genre_name          252108 non-null object
air_area_name           252108 non-null object
latitude                252108 non-null float64
longitude               252108 non-null float64
hpg_store_id            13929 non-null object
hpg_visit_datetime      13929 non-null object
hpg_reserve_datetime    13929 non-null object
hpg_reserve_visitors    13929 non-null float64
hpg_genre_name          6894 non-null object
hpg_area_name           6894 non-null object
hpg_latitude            6894 non-null float64
hpg_longitude           6894 non-null float64
id                      252108 non-null object
dtypes: float64(6), int64(2), object(13)
memory usage: 40.4+ MB

,Unnamed: 0,air_store_id,visit_date,visitors,visit_date_only,visit_datetime,reserve_datetime,reserve_visitors,air_genre_name,air_area_name,...,longitude,hpg_store_id,hpg_visit_datetime,hpg_reserve_datetime,hpg_reserve_visitors,hpg_genre_name,hpg_area_name,hpg_latitude,hpg_longitude,id
0,0,air_ba937bf13d40fb24,2016-01-13 00:00:00,25,2016-01-13,NaN,NaN,NaN,Dining bar,T?ky?-to Minato-ku Shibak?en,...,139.751599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24
1,1,air_ba937bf13d40fb24,2016-01-14 00:00:00,32,2016-01-14,NaN,NaN,NaN,Dining bar,T?ky?-to Minato-ku Shibak?en,...,139.751599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24
2,2,air_ba937bf13d40fb24,2016-01-15 00:00:00,29,2016-01-15,NaN,NaN,NaN,Dining bar,T?ky?-to Minato-ku Shibak?en,...,139.751599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24
3,3,air_ba937bf13d40fb24,2016-01-16 00:00:00,22,2016-01-16,NaN,NaN,NaN,Dining bar,T?ky?-to Minato-ku Shibak?en,...,139.751599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24
4,4,air_ba937bf13d40fb24,2016-01-18 00:00:00,6,2016-01-18,NaN,NaN,NaN,Dining bar,T?ky?-to Minato-ku Shibak?en,...,139.751599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24

In [6]:
date_info = pd.read_csv('date_info.csv')
date_info.info()
date_info.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 3 columns):
calendar_date    517 non-null object
day_of_week      517 non-null object
holiday_flg      517 non-null int64
dtypes: int64(1), object(2)
memory usage: 12.2+ KB

       holiday_flg
count   517.000000
mean      0.067698
std       0.251471
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [28]:
date_info.tail()

    calendar_date day_of_week  holiday_flg
512    2017-05-27    Saturday            0
513    2017-05-28      Sunday            0
514    2017-05-29      Monday            0
515    2017-05-30     Tuesday            0
516    2017-05-31   Wednesday            0

Joining train data of air-hpg with dates for holidays

In [8]:
train_air_hpg_dates = train_air_hpg.merge(date_info, left_on=['visit_date_only'], right_on = ['calendar_date'], how='left')

In [9]:
train_air_hpg_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252108 entries, 0 to 252107
Data columns (total 24 columns):
Unnamed: 0              252108 non-null int64
air_store_id            252108 non-null object
visit_date              252108 non-null object
visitors                252108 non-null int64
visit_date_only         252108 non-null object
visit_datetime          28064 non-null object
reserve_datetime        28064 non-null object
reserve_visitors        28064 non-null float64
air_genre_name          252108 non-null object
air_area_name           252108 non-null object
latitude                252108 non-null float64
longitude               252108 non-null float64
hpg_store_id            13929 non-null object
hpg_visit_datetime      13929 non-null object
hpg_reserve_datetime    13929 non-null object
hpg_reserve_visitors    13929 non-null float64
hpg_genre_name          6894 non-null object
hpg_area_name           6894 non-null object
hpg_latitude            6894 non-null float64
hpg_longitude           6894 non-null float64
id                      252108 non-null object
calendar_date           252108 non-null object
day_of_week             252108 non-null object
holiday_flg             252108 non-null int64
dtypes: float64(6), int64(3), object(15)
memory usage: 48.1+ MB

In [37]:
train_air_hpg_dates.to_csv('train_air_hpg_dates.csv')

Joining test_str (test data) with date info data

In [32]:
date_info['visit_date'] = pd.to_datetime(date_info['calendar_date'])
test_str_date = test_str.merge(date_info, on=['visit_date'], how='left')

In [33]:
test_str_date.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32019 entries, 0 to 32018
Data columns (total 11 columns):
id                32019 non-null object
visitors          32019 non-null int64
visit_date        32019 non-null datetime64[ns]
air_store_id      32019 non-null object
air_genre_name    32019 non-null object
air_area_name     32019 non-null object
latitude          32019 non-null float64
longitude         32019 non-null float64
calendar_date     32019 non-null object
day_of_week       32019 non-null object
holiday_flg       32019 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 2.9+ MB

In [34]:
test_str_date.to_csv("test_str_date.csv")

Machine learning algorithms and models

To find root mean sqaured logarithmic error

In [35]:
import math

#A function to calculate Root Mean Squared Logarithmic Error (RMSLE)
def rmsle(y, y_pred):
    assert len(y) == len(y_pred)
    terms_to_sum = [(math.log(y_pred[i] + 1) - math.log(y[i] + 1)) ** 2.0 for i,pred in enumerate(y_pred)]
    return (sum(terms_to_sum) * (1.0/len(y))) ** 0.5

In [36]:
train = train_air_hpg_dates
test = test_str_date

In [ ]:
predictors = ['air_genre_name', 'air_area_name', 'day_of_week', 'holiday_flg']

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_tran1[predictors], train_tran1['is_churn'])
from sklearn.metrics import mean_squared_error
train_predictions1 = lr.predict(train_tran1[predictors])
test_predictions1 = lr.predict(test_tran1[predictors])